.main-stuff {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alert-info  {
    display: flex;
    background-color: #c9fbfd;
    text-decoration: none;
    border: solid 1px lightgray;
    justify-content: center;
    color: black;
    padding: 15px 100px;
}

.header-img > img {
    width: 339px ;
    height: 224px;
}

.header-img {
    display: flex;
    justify-content: center
}

.sub-section {
    font-style: italic;
}

.nav-links {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style-type: none;
    justify-content: center;

}
nav ul li:nth-child(1) {
    display: flex;
    padding: 1em;
    margin: 5px;
    border: 2px solid lightgray;
    background-color: lightgray;
    justify-content: center;
}

nav ul li:nth-child(2) {
    padding: 1em;
    margin: 5px;
    border: 2px solid lightgray;
    background-color: lightgray;
    display: flex;
    justify-content: center;
}

nav ul li:nth-child(3) {
    padding: 1em;
    margin: 5px;
    border: 2px solid lightgray;
    background-color: lightgray;
    display: flex;
    justify-content: center;
}

nav ul li:nth-child(4) {
    padding: 1em;
    margin: 5px;
    border: 2px solid lightgray;
    background-color: lightgray;
    display: flex;
    justify-content: center;
}
nav {
    align-content: center;
    width: 300px;
}
 .alert-info > a {
     text-decoration: none;
     color: black;
 }

 .main-stuff > a {

 }

 ul > .nav-links {
     background-color: grey;
 }

 ul {
     padding: unset;
 }

 h1 {
     margin-bottom: unset;
 }
@media screen and (min-width: 992px) {

}