.main-stuff {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alert-info  {
    display: flex;
    background-color: #c9fbfd;
    text-decoration: none;
    border: solid 1px lightgray;
    justify-content: center;
    color: black;
    padding: 15px 100px;
}

.header-img > img {
    width: 339px ;
    height: 224px;
}

.header-img {
    display: flex;
    justify-content: center
}

.sub-section {
    font-style: italic;
}

.nav-links {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style-type: none;
    justify-content: center;

}
nav ul li:nth-child(1) {
    display: flex;
    padding: 1em;
    margin: 5px;
    border: 2px solid lightgray;
    background-color: lightgray;
    justify-content: center;
}

nav ul li:nth-child(2) {
    padding: 1em;
    margin: 5px;
    border: 2px solid lightgray;
    background-color: lightgray;
    display: flex;
    justify-content: center;
}

nav ul li:nth-child(3) {
    padding: 1em;
    margin: 5px;
    border: 2px solid lightgray;
    background-color: lightgray;
    display: flex;
    justify-content: center;
}

nav ul li:nth-child(4) {
    padding: 1em;
    margin: 5px;
    border: 2px solid lightgray;
    background-color: lightgray;
    display: flex;
    justify-content: center;
}
nav {
    align-content: center;
    width: 300px;
}
 .alert-info > a {
     text-decoration: none;
     color: black;
 }

 .main-stuff > a {

 }

 ul > .nav-links {
     background-color: grey;
 }

 ul {
     padding: unset;
 }

 footer {
     float: left;
 }

@media screen and (min-width: 992px) {

    * {
        /*margin: 0;*/
        /*padding: 0;*/
        /*border: 0;*/
    }
    .main-stuff {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }


    .header-img > img {
        width: 100%;
        height: auto;
    }

    .header-img {
        display: flex;
        justify-content: center
    }

    .sub-section {
        font-style: italic;
        display: flex;
        flex-direction: column;
    }
    .main {
        display: flex;
        flex-direction: column;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        list-style-type: none;
        justify-content: flex-end;
        margin: auto;
    }

    nav {
        align-content: center;
        width: 300px;
    }
    nav ul li:nth-child(1) {
        display: flex;
        justify-content: flex-end;
        border: 0;
        background-color: transparent;
    }
    nav ul li:nth-child(2) {
        display: flex;
        justify-content: flex-end;
        border: 0;
        background-color: transparent;
    }
    nav ul li:nth-child(3) {
        display: flex;
        justify-content: flex-end;
        border: 0;
        background-color: transparent;
    }
    nav ul li:nth-child(4) {
        display: flex;
        justify-content: flex-end;
        border: 0;
        background-color: transparent;
    }
    .alert-info {
        display: none;
    }

    .main-stuff > a {

    }

section#main.main {
    display: flex;
    flex-direction: column;
    float: left;
    width: 70%;

}
section.sub-section {
    display: flex;
    flex-direction: column;
    float: right;
    width: 30%;
}
    ul {
        padding: unset;
    }

    h1 {
        display: flex;
        flex-grow: 1;
        padding: 5px;
    }
footer {
    float: left;
}
}